@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
  }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

}
.footer {
  background-color: #eeeeee;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.left-links, .right-links {
  display: flex;
  gap: 16px;
  list-style-type: none;
  text-decoration: none;
  padding: 0 10px 0 10px;
}
