/* Add CSS Styling*/
.odd {
        background-color: #f796ea;
        font-family: "Verdana", "DejaVu Sans", sans-serif;
    
}

#two {
    color: #0055ff;
    font-size: 36px;
}

.three {
    font-size: 24px;
}
#four {
    background-color: #00ff00;
    font-size: 24px;
    font-style: bold;
}