/* Add CSS Styling*/
:nth-child(odd) {
    p {
        background-color: #f796ea;
        font-family: "Verdana", "DejaVu Sans", sans-serif;
    }
}

.number-2 {
    color: #0055ff;
    font-size: 36px;
}

.number-3 {
    font-size: 24px;
}
#number-4 {
    background-color: #00ff00;
    font-size: 24px;
    font-style: bold;
}