body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.body {
  flex: 1;
  display: flex;
}

.header {
  height: 50px;
  background: darkmagenta;
  color: white;
  text-size-adjust: 32px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 16px;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  box-sizing: border-box;
  flex-shrink: 0;
  background: royalblue;
  padding: 16px;
  width: 300px;
}

.info {
  padding: 48px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  display: flex;
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  width: 300px;
  height: 200px;
  padding: 18px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}